body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: white;
}

a {
    color: currentColor;
    text-decoration: none;
    font-style: normal;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

h3 {
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

.main-section {
    background-color: #2e2f42;
}

.main-title {
    font-size: 56px;
    letter-spacing: 0.02em;
    text-align: center;
    line-height: 1.07;
    color: #ffffff
}

.main-button {
    color: white;
    background-color: #4D5AE5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.main-button:hover,
.main-button:focus {
    background-color: #404BBF;
}

.navigation-list a:hover,
.navigation-list a:active,
.navigation-list a:focus
.contacts a:hover,
.contacts a:active,
.contacts a:focus {
    color: #404BBF;
}

.navigation-list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
}

.logo-studio-dark {
    color: #2e2f42;
}

.contacts-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.feature-title {
    font-weight: 500;
}

.team {
    background-color: #F4F4FD;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list-item {
    background-color: #FFFFFF;
}

.team-member-name {
    font-size: 16px;
}

.team-member-text {
    font-size: 16px;
}

.portfolio-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-list-item-title {
    font-weight: 500;
}

.footer {
    background-color: #2e2f42;
}

.logo-studio-white {
    color: #f4f4fd;
}

.footer-text {
    color: #F4F4FD;
}